{% extends 'layout/layout.twig' %}

{% block title %}Activités physiques{% endblock %}

{% block description %}Activités physiques possibles à Orgon, commune du Parc Régional des Alpilles, PACA, France{% endblock %}

{% block main %}
<main>
    <header class="head">
        Nombreuses activités possibles sur place & dans les environs !
    </header>

    <section>
        <h2>Activités de la commune</h2>


    </section>

    <section>
        <h2>Activités aux alentours</h2>


    </section>
</main>
{% endblock %}
