{% extends 'layout/layout.twig' %}

{% block title %}Activités physiques possibles{% endblock %}

{% block description %}Activités physiques possibles à Orgon, commune du Parc Régional des Alpilles, PACA, France{% endblock %}

{% block main %}
<main>
    <article>
        <h2>De très nombreuses activités sont possibles sur place & dans les environs !</h2>


    </article>
</main>
{% endblock %}
