{% extends 'layout/layout.twig' %}

{% block title %}Commodités de la Commune{% endblock %}

{% block description %}Liste des commodités, écoles, administrations à Orgon, PACA, France{% endblock %}

{% block main %}
<main>
    <article>
        <h2>De multiples commodités sont présentes sur la commune !</h2>


    </article>
</main>
{% endblock %}
