{% extends 'layout/layout.twig' %}

{% block title %}Commodités de la Commune{% endblock %}

{% block description %}Liste des commodités, écoles, administrations à Orgon, PACA, France{% endblock %}

{% block main %}
<main>
    <header class="head">
        De multiples commodités sont présentes sur la commune !
    </header>

    <section>
        <h2>Associations</h2>


    </section>

    <section>
        <h2>Administration</h2>


    </section>

    <section>
        <h2>Cultes</h2>


    </section>

    <section>
        <h2>Enseignement</h2>


    </section>
</main>
{% endblock %}
