{% extends 'layout/layout.twig' %}

{% block title %}Maison à Vendre{% endblock %}

{% block description %}Maison T5 cuisine équipée à Vendre de 115m² avec Terrasse, Jardin & Piscine à Orgon, PACA, France{% endblock %}

{% block main %}
<main>
    <article>
        <h2>Maison T5 en vente à Orgon !</h2>


    </article>
</main>
{% endblock %}
