{% extends 'layout/layout.twig' %}

{% block title %}Maison à Vendre{% endblock %}

{% block description %}Maison T5 cuisine équipée à Vendre de 115m² avec Terrasse, Jardin & Piscine à Orgon, PACA, France{% endblock %}

{% block main %}
<main>
    <header class="head">
        Maison T5 en vente à Orgon !
    </header>

    <section id="living">
        <h2>Séjour</h2>


    </section>

    <section id="kitchen">
        <h2>Cuisine</h2>


    </section>

    <section id="bedroom">
        <h2>Chambres</h2>


    </section>

    <section id="garden">
        <h2>Jardin</h2>


    </section>

    <section id="swim">
        <h2>Piscine</h2>


    </section>

    <section id="parking">
        <h2>Parking</h2>


    </section>
</main>
{% endblock %}
