{% extends 'layout/layout.twig' %}

{% block title %}Magasins à proximité{% endblock %}

{% block description %}Magasins à proximité de la Maison à Orgon, PACA, France{% endblock %}

{% block main %}
<main>
    <article>
        <h2>De nombreux magasins sont accessibles à pied !</h2>


    </article>
</main>
{% endblock %}
