{% extends 'layout/layout.twig' %}

{% block title %}Commerces à proximité{% endblock %}

{% block description %}Commerces à proximité de la Maison à Orgon, PACA, France{% endblock %}

{% block main %}
<main>
    <header class="head">
        De nombreux commerces sont accessibles à pied !
    </header>

    <section>
        <h2>Commerces du quartier</h2>


    </section>

    <section>
        <h2>Commerces de la commune</h2>


    </section>

    <section>
        <h2>Commerces aux alentours</h2>


    </section>
</main>
{% endblock %}
